.text-box{
    h4{
        text-indent: 50px;
    }
    input{
        border: 1px solid #666;
        &:focus{
            box-shadow: 0 0 6px #2ad;
            border-color: #2ad;
        }
    }
    p{
        color: #333;
        font-size: 24px;
    }
}